<div class="row align-items-end my-3">
    <div class="col text-right">
        <button class="btn btn-primary" [disabled]="isdisabled" (click)="onShowPhotoClick()">Show Photos</button>
    </div>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->

    <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox style="margin:30px" (change)="selection($event, element)">
            </mat-checkbox>
        </td>

    </ng-container>


    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Album Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- emailid Column -->
    <ng-container matColumnDef="emailid">
        <th mat-header-cell *matHeaderCellDef> Emailid </th>
        <td mat-cell *matCellDef="let element"> {{element.emailid}} </td>
    </ng-container>

    <!-- uploadby Column -->
    <ng-container matColumnDef="uploadby">
        <th mat-header-cell *matHeaderCellDef> Upload By </th>
        <td mat-cell *matCellDef="let element"> {{element.uploadby}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div *ngIf="this.isimgshows">
    <h1 class="text-center py-4">Image Gallery</h1>
    <div class="row pb-3 justify-content-center" *ngFor="let item of checkdarray">
        <div class="col text-center" *ngFor="let item of item.images">
            <img class="border border-primary" src="https://picsum.photos/id/{{item}}/200">
        </div>
    </div>
</div>